<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="\stylesheets\style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Assistant&family=Black+Ops+One&family=Comfortaa:wght@600&family=Goblin+One&family=Hind+Madurai:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/Final Project/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/Final Project/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/Final Project/images/favicon-16x16.png">
    <link rel="manifest" href="/Final Project/images/site.webmanifest">
    <link rel="icon" href="/Final Project/images/favicon.ico?v1" type="x-icon"/>

    <title>Animal Shelter</title>

</head>
<body>
   <div id="content">

<header>
    <img src="/images/bulldogS.png" alt="bulldog cover" id="bulldog">
        <h2> Atlas Adoption Center</h2>
</header>
    
    <div class="introtext"> 
        <h3><u> About </u> </h3>
        <p> Hello, Welcome to Atlas Adoption Center where our mission is to find and provide a home for any pet all around the world. Below, you will find the options to 
            view and put animals up for adoption and/or adopt one for yourself.
        </p>

        </div>


        <hr>

<div class="buttonarea">
            <div class="griditem"> 
            <a href="/adopt"><button> Adopt A Pet </button></a> 
        </div>

        <div class="griditem"> 
            <a href="/view"> <button>View Pet Catalog</button> </a>
        </div>

        <div class="griditem"> 
           <a href="/find">  <button>Find New Home</button></a>
        </div>
            
            
        </div>

    <div class="introtext">
       <h3> <u> Motto </u> </h3>
       <p id="motto"> "If you can find it in an atlas, we will show up at your door."</p>
        
    </div>



   </div>
</body>
</html>